<header>
  <div id="name-title">
    <h1 id="name">{{ data.header.name }}</h1>
    <h3 id="title">{{ data.header.title }}</h3>
  </div>
  <div>
    <div>
      {% for each in site.data.content.details %}{% include span.liquid data=each %}{% endfor %}
    </div>
    <div>
      {% for each in site.data.content.links %}{% include span.liquid data=each %}{% endfor %}
    </div>
  </div>
</header>
