{% unless include.data %}{% break %}{% endunless %}
<section>
  {% if include.title %}<h2>{{ include.title }}</h2>{% endif %}
  {% assign skills = include.data | where_exp: "_", "_.level >= 8" %}
  {% include skill_level.liquid title=strings.proficient data=skills %}
  {% assign skills = include.data | where_exp: "_", "_.level >= 5 and _.level < 8" %}
  {% include skill_level.liquid title=strings.intermediate data=skills %}
  {% assign skills = include.data | where_exp: "_", "_.level < 5" %}
  {% include skill_level.liquid title=strings.beginner data=skills %}
</section>
