<section id="badges">
  {%- for badge in site.data.badges -%}
    <p><a href="{{ badge.href }}" target="_blank">
      <img title="{{ badge.title }}" src="{{ badge.src }}" />
    </a></p>
  {%- endfor -%}
</section>
