{% if include.content %}
  <section id="{{ include.content.id }}">
    {% if include.content.title %}
      <h2>{{ include.content.title }}</h2>
    {% endif %}

    {% for each in include.content.data %}
      {% if include.simple %}
        <p>{{ each }}</p>
        {% continue %}
      {% endif %}

      {% assign title = each.position | default: each.course %}
      {% assign place = each.company.short_name | default: each.school.name %}
      {% assign location = each.company.location | default: each.school.location %}
      <span>
        <h3>{{ title }}</h3>
        <h4>{{ place }},
          <i class="fa-solid fa-location-dot location-dot-small"></i>
          {{ location }}</h4>
        <p class="dates">{{ each.period.start }} — {{ each.period.end }}</p>
        {% for line in each.long_description %}
          <p>{{ line }}</p>
        {% endfor %}
      </span>
    {% endfor %}
  </section>
{% endif %}
