<meta name="keywords" content="{{ data.keywords | join: ', ' }}">
<meta name="author" content="{{ data.name }}">
<meta property="og:title" content="{{ data.title }} - {{ data.name }}" />
<meta property="og:site_name" content="{{ data.title }} - {{ data.name }}" />
<meta property="og:description" content="{{ data.description }}" />
<meta property="og:image" content="https://neryuuk.github.io/assets/img/profile.png" />
<meta property="og:url" content="https://neryuuk.github.io" />
<meta property="og:type" content="website" />
