<section>
  {%- if i18n.skills -%}<h2>{{ i18n.skills }}</h2>{%- endif -%}
  {%- assign skills = site.data.content.skills | where_exp: "item", "item.level >= 8" -%}
  {%- include skill_level.liquid title=i18n.proficient data=skills -%}
  {%- assign skills = site.data.content.skills | where_exp: "item", "item.level >= 5" | where_exp: "item", "item.level < 8" -%}
  {%- include skill_level.liquid title=i18n.intermediate data=skills -%}
  {%- assign skills = site.data.content.skills | where_exp: "item", "item.level < 5" -%}
  {%- include skill_level.liquid title=i18n.beginner data=skills -%}
</section>
