<div class="location-period">
  <h3>{{ include.title }} <span>at {{ include.place }} - {{ include.location }}</span></h3>
  {%- include period.liquid start=include.period.start end=include.period.end -%}
</div>
