@media print {
  @page {
    orientation: portrait;
  }

  #body {
    margin: auto;
    width: 100%;
  }

  section {
    page-break-inside: avoid;
    word-break: normal;
  }
}

* {
  font-family: 'Calibri', 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}

header > div {
  margin: 0 auto 16px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: underline;
}

p {
  font-size: 14pt;
  font-weight: 400;
  line-height: 1.6;
  text-align: justify;
}

#body {
  margin: 36pt auto;
  width: 1200px;
}

section {
  margin-top: 26pt;
}
