* {
  font-family: 'Calibri', 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  text-align: justify;
}

img {
  display: none;
}

a {
  text-decoration: underline;
}

p {
  font-size: 14pt;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
}

#body {
  margin: 36pt auto;
  width: 1200px;
}

section {
  margin-top: 26pt;
}
