---
layout: default
---
{% assign data = site.data[page.lang] %}
{% assign strings = site.data.strings[page.lang] %}
<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ data.header.name }} - {{ data.header.title }}</title>
    {% include sources.liquid %}
    {% include seo.liquid %}
  </head>
  <body>
    <div id="body">
      {% include ats_header.liquid %}
      {% include section.liquid title=strings.summary data=data.summary simple=true %}
      {% include ats_list.liquid title=strings.skills data=data.skills %}
      {% include section.liquid data=data.work-experience %}
      {% include section.liquid data=data.education %}
      {% include section.liquid data=data.internships %}
      {% include ats_list.liquid title=strings.languages data=data.languages %}
    </div>
  </body>
</html>
