---
layout: default
---
{% assign data = site.data[page.lang] %}
<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ data.header.name }} - {{ data.header.title }}</title>
    {% include sources.liquid %}
    {% include seo.liquid %}
  </head>
  <body>
    <div id="body">
      {% include header.liquid content=data.header %}
      {% include list.liquid content=data.details %}
      {% include list.liquid content=data.links %}
      {% include section.liquid content=data.profile simple=true %}
      {% include ats_list.liquid content=data.skills %}
      {% include ats_list.liquid content=data.languages %}
      {% include section.liquid content=data.work-experience %}
      {% include section.liquid content=data.education %}
      {% include section.liquid content=data.internships %}
    </div>
  </body>
</html>
