---
layout: zip
---
{%- assign data = site.data.content[page.lang] -%}
{%- assign i18n = site.data.i18n[page.lang] -%}
<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>{%- include meta.liquid -%}</head>
  <body>
    <div id="body">
      {%- include ats_header.liquid -%}
      {%- include simple.liquid sect="summary" -%}
      {%- include skills.liquid -%}
      {%- include section.liquid sect="work" -%}
      {%- include section.liquid sect="education" -%}
      {%- include section.liquid sect="other" -%}
      {%- include languages.liquid -%}
    </div>
  </body>
</html>
