---
layout: default
---
{% assign data = site.data[page.lang] %}
<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="theme-color" content="#32084D" />
    <title>{{ data.header.name }} - {{ data.header.title }}</title>
    {% include sources.liquid %}
    {% include seo.liquid %}
  </head>
  <body>
    <div id="body">
      {% include column.liquid id="main-column" %}
      {% include column.liquid id="side-column" %}
    </div>
  </body>
</html>
