{% assign data = site.data[page.lang] %}
<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="theme-color" content="#32084D" />
    <title>{{ data.header.name }} - {{ data.header.title }}</title>
    {% include sources.html %}
    {% include seo.html data=data.header %}
  </head>
  <body>
    <div id="body">
      <div id="main-column">
        {% include header.html content=data.header %}
        {% include section.html content=data.profile simple=true %}
        {% include section.html content=data.work-experience %}
        <div class="pagebreak">&nbsp;</div>
        {% include section.html content=data.education %}
        {% include section.html content=data.internships %}
        <div class="pagebreak">&nbsp;</div>
      </div>
      <div id="side-column">
        <div id="side-content">
          {% include header.html %}
          {% include list.html content=data.details %}
          {% include list.html content=data.links %}
          {% include progress.html content=data.skills %}
          {% include progress.html content=data.languages %}
        </div>
      </div>
    </div>
  </body>
</html>
