---
layout: default
---
{% assign data = site.data[page.lang] %}
{% assign strings = site.data.strings[page.lang] %}
<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="theme-color" content="#32084D" />
    <title>{{ data.header.name }} - {{ data.header.title }}</title>
    {% include sources.liquid %}
    {% include seo.liquid %}
  </head>
  <body>
    <div id="body">
      {% capture content %}
        {% include header.liquid content=data.header %}
        {% include section.liquid title=strings.profile data=data.profile simple=true %}
        {% include section.liquid title=strings.work data=data.work-experience %}
        <div class="pagebreak">&nbsp;</div>
        {% include section.liquid title=strings.education data=data.education %}
        {% include section.liquid title=strings.internships data=data.internships %}
        <div class="pagebreak">&nbsp;</div>
      {% endcapture %}
      {% include column.liquid id="main-column" data=content %}

      {% capture content %}
        {% include header.liquid %}
        {% include list.liquid title=strings.details data=data.details %}
        {% include list.liquid title=strings.links data=data.links %}
        {% include progress.liquid title=strings.skills data=data.skills %}
        {% include progress.liquid title=strings.languages data=data.languages %}
      {% endcapture %}
      {% include column.liquid id="side-column" data=content %}
    </div>
  </body>
</html>
