---
layout: default
---
{% assign data = site.data[page.lang] %}
{% assign strings = site.data.strings[page.lang] %}
<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="theme-color" content="#32084D" />
    <title>{{ data.header.name }} - {{ data.header.title }}</title>
    {% include sources.liquid %}
    {% include seo.liquid %}
  </head>
  <body>
    <div id="body">
      {% capture content %}
        {% include header.liquid data=data.header %}
        {% include section.liquid sect="profile" simple=true %}
        {% include section.liquid sect="work" %}
        <div class="pagebreak">&nbsp;</div>
        {% include section.liquid sect="education" %}
        {% include section.liquid sect="internships" %}
        <div class="pagebreak">&nbsp;</div>
      {% endcapture %}
      {% include column.liquid id="main-column" data=content %}

      {% capture content %}
        {% include header.liquid %}
        {% include list.liquid sect="details" %}
        {% include list.liquid sect="links" %}
        {% include progress.liquid sect="skills" %}
        {% include progress.liquid sect="languages" %}
      {% endcapture %}
      {% include column.liquid id="side-column" data=content %}
    </div>
  </body>
</html>
